<% if (theme.duoshuo_shortname && page.comments){ %>
<section id="comment">
<a name="comments"></a>
<div class="ds-thread" data-thread-key="<%- post.path %>"  data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
</section>
<% } %>
