<a  href="<%- config.root %><%- post.path %>">
<span class="titleFlag">
</span>
  <time style="display:inline" datetime="<%= date_xml(post.date) %>">
    <%= date(post.date, date_format) %>
  </time>
</a>
